# fly.toml app configuration file generated for pinv-og on 2025-12-14T22:35:29+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pinv-og'
primary_region = 'iad'

[build]
  ignorefile = '.dockerignore'

[env]
  NODE_ENV = 'production'
  PORT = '8080'
  OG_MAX_THREADS = '2'

[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'requests'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '2gb'
  cpus = 2
  memory_mb = 2048


