app = "pintv-og"
primary_region = "iad"

[build]
  dockerfile = "og/Dockerfile"
  ignorefile = ".dockerignore"

[env]
  PORT = "8080"
  NODE_ENV = "production"

[[services]]
  protocol = "tcp"
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  
  [services.concurrency]
    type = "requests"
    hard_limit = 25
    soft_limit = 20

  [[services.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "get"
    path = "/health"
    protocol = "http"
